@import
url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import
url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');
@import
url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');

body{
    background-color: darkred;
}

h1{
    font-family: Righteous, cursive;
    font-size: 45px;
    font-weight: normal;
    line-height: 60px;
    color: #fff;
}

h2{
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -1px;
    color: #DFBF84;
}

h1, h2{
    text-transform: UPPERCASE;
    text-align: center;
}

p{
    font-family: Orienta;
    color: #fff;
}