#wrapper{
    background-color: #a6e1ec;
    width: 700px;
    height: 730px;
    margin: 0 auto;
    border: 1px solid #000000;
    padding: 10px 20px;
}

img{
    width: 200px;
    vertical-align: middle;
    margin-right: 10px;
}

.text{
    color: #3f51b5;
}

li{
    list-style: none;
    width: 595px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    border: 1px solid #000000;
} 

